.messages-wrapper {
	height: 400px;
  padding: 5px;
  overflow: auto;
}

.player-wrapper {
  text-align: center;
}

.row {
  margin: 0;
}

.urlInput {
  width: 656px;
}

input.nameInput, input.messageInput {
  width: 180px;
}